/*========================
    GENERAL
========================*/
body{
    background: #f4f4f4;
    font-family: "Open Sans", 'Roboto', 'Droid Serif', sans-serif;
}

body.admin{
    margin-top: 0px;
}

body.teacherlogin{
    background: #fff3df;
}

.clear {
    clear: both;
}

.btn-full{
    width: 100%;
}

.site-content {
    margin-bottom: 80px;
}

.no-padding {
    padding: 0;
}

.hr-title h1, .hr-title h2, .hr-title h3, .hr-title h4, .hr-title h5, .hr-title h6, .widget-title h1, .widget-title h2, .widget-title h3, .widget-title h4, .widget-title h5, .widget-title h6 {
    display: table-cell;
    float: left;
    margin-bottom: 0;
    padding-right: 20px;
    white-space: pre;
}

h2 {
    font-size: 22px;
    line-height: normal;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 15px;
}

.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin-right: 20px;
}

#header a, #footer a{
    font-weight: normal;
}

.site-content{
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}

.navbar{
    margin-bottom: 0;
}

.navbar-nav > li > a{
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px; 
    border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > li > a{
    color: #707070;
    border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav > li > a.btn-primary {
    color: #fff;
    margin: 9px auto;
    padding: 10px 20px;
}

.navbar-default .navbar-nav > li > a.btn-primary:hover {
    color: #337ab7;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li.active > a{
    color: #707070;
    border-bottom: 3px solid #707070;
    background: #eff0f1;
    text-decoration: none;
    outline: none;
}

.notes-view .site-share-btn {
    color: #333;
    background: #FFF;
    border: 1px solid #DDD;
    font-size: 18px;
    padding: 5px;
    width: auto;
    height: auto;
    margin: 0px 5px 10px;
    float: left;
    min-width: 40px;
}


/*========================
    Content Section
========================*/

#primary {
    float: left;
    margin: 0;
    padding: 0;
}


.side-nav {
    float: left;
    padding: 0;
}

.navbar-brand > span {
    background: #337ab7 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-right: 4px;
    padding: 5px 10px;
}

.menu-sidebar li, .side-nav li {
    display: inline-block;
    margin-bottom: 1px;
    padding-bottom: 0;
    width: 100%;
}

.menu-sidebar li a, .side-nav li a {
    background: #f7f7f7;
    color: #86999b;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    padding: 10px;
    text-decoration: none;
}

.side-nav li a span, .menu-sidebar li a span {
    float: left;
    font-size: 26px;
    line-height: 34px;
    margin: 0 22px 0 8px;
}

.side-nav li.current_page_item a{
    background: #355c7d;
    color: #FFF;
}

.side-nav li.current_page_item a:after {
    border-bottom: 26px solid rgba(0, 0, 0, 0);
    border-left: 25px solid;
    border-top: 26px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
}

.side-nav li.current_page_item a:after {
    border-left-color: #355c7d;
}

.hr-title h2 {
    margin-top: 0;
}

.hr-title, .widget-title {
    display: table;
    float: left;
    margin-bottom: 50px;
    overflow: hidden;
    width: 100%;
}

.title-sep {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.title-sep span {
    border-bottom: 1px solid #f4f4f4;
    display: block;
    margin-top: 6px;
    position: relative;
    width: 100%;
}


/*========================
    FROM ELEMENTS
========================*/

label{
    color: #86999b;
    font-weight: normal;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="url"], 
input[type="tel"], 
input[type="number"], 
input[type="range"], 
input[type="date"],
textarea, select{
    border: 1px solid #e5e5e5;
    color: #777;
    display: block;
    font-size: 16px;
    padding: 10px 12px;
    width: 100%;
}

.site-from input[type="submit"], 
.site-from input[type="button"] {
    color: #fff;
    border: medium none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0;
    padding: 11px 20px;
    border-radius: 2px;
    min-width: 130px;
}

.box-form input[type="text"],
.box-form input[type="email"],
.box-form input[type="password"],
.box-form textarea{
    background: #fafafa;
    margin-bottom: 10px;
}

.box-form input[type="text"]:focus,
.box-form input[type="email"]:focus,
.box-form input[type="password"]:focus,
.box-form textarea:focus{
    border-color: #bbb;
    box-shadow: 0 0 2px #c9c9c9;
}

form.vertical-form {
    margin: 10px 0;
}

form.vertical-form input{
    margin: 10px 0;
}

.fb_login {
    background-color: #4863ae;
    border-color: #4863ae;
    color: white;
    width: 100%;
    padding: 12px;
}

.fb_login:hover {
    background: #2d4682 none repeat scroll 0 0;
    border-color: #2d4682;
    color: #fff;
}

.fb_login .fa {
    font-size: 16px;
    margin-right: 10px;
}
/*========================
    Breadcrumb
========================*/

.breadcrumb-wrapper {
    padding: 15px 0;
    position: relative;
}

.breadcrumb-wrapper h1 {
    float: left;
    color: #fff;
    font-family: "Crete Round",serif;
    font-size: 24px;
    font-weight: bold;
    margin: 7px 0;
    text-transform: uppercase;
}

.breadcrumb-wrapper .breadcrumb {
    float: right;
    margin: 4px 0;
}


.breadcrumb-wrapper .breadcrumb a, .breadcrumb-wrapper .breadcrumb h4 {
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.breadcrumb span.default {
    display: block;
    float: left;
    height: 11px;
    margin: 4px 6px 0 5px;
    width: 5px;
}

.breadcrumb span.default {
    background: url("//wedesignthemes.com/themes/dt-guru/wp-content/themes/guru/skins/dark-blue/images/breadcrumb-seperator.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


/*========================
    QUIZ Form
========================*/

#QuizPlayForm label{
    padding: 0 15px 5px;
    vertical-align: top;
}

#QuizPlayForm form .submit input[type="submit"],
#QuizPlayForm form .submit input[type="submit"]:hover {
    background: none repeat scroll 0 0 rgb(0, 137, 123);
    border-color: rgb(0, 137, 123);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #fff;
    min-width: 134px;
}

.question_wrapper{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    padding: 20px;
}

.question_wrapper form{

}

.navbar-default{
    background: #FFF;
    border-top: 4px solid #337ab7;
    border-radius: 0px;
}


/*========================
    FOOTER
========================*/

#footer {
    border-top: 1px solid #f2f1f2;
    color: #86999b;
    padding: 0;
}

#footer .footer-widgets {
    background: #f7f7f7;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
}

#footer .footer-widgets .widget-title{
    border-bottom: 2px solid #355c7d;
    color: #355c7d;
    font-family: "Crete Round",serif;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer-widgets .side-nav h4{
    margin: 0;
    padding: 0;
}

.footer-widgets .side-nav a {
    float: left;
    font-size: 14px;
    line-height: 15px;
    padding: 0;
}

.footer-widgets .side-nav a:hover{
    color: #355c7d;
    text-decoration: underline;
}

#footer .textwidget {
    float: left;
    width: 100%;
    line-height: 28px;
}

.textwidget span.fa.fa-map-marker, .textwidget span.fa.fa-envelope, .textwidget span.fa.fa-phone {
    float: left;
    font-size: 17px;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-top: 3px;
    min-width: 15px;
}

.social-media{
    padding: 0;
}

.widget ul.social-media {
    margin-bottom: 15px;
}

ul.social-media > li {
    border-radius: 42px;
    clear: none;
    display: inline;
    font-size: 18px;
    padding: 0;
}
ul.social-media > li {
    border: 1px solid;
    display: inline-block;
    height: 42px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 42px;
}
ul.social-media > li a {
    border-radius: 40px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
}

ul.social-media > li:hover{
    color: #d95b43 !important;
}
ul.social-media > li:hover a {
    color: #d95b43 !important;
    text-decoration: none;
}

#footer ul li {
    display: inline-block;
    margin: 0 15px 0 0;
}

#footer .social-media-text {
    font-style: italic;
}

#footer .footer-info{
    background: #355c7d;
    padding: 23px 0;
    color: #FFF;
}

#footer .footer-info a{
    color: #FFF;
}

#footer .footer-info a:hover{
    color: #FFF;
    text-decoration: none;
}

.footer-top-links {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #f2f1f2;
    padding: 25px 0;
    width: 100%;
}

.navbar-nav .fa.fa-envelope-o {
    margin-right: 10px;
}

/* Home Page Section */
.intro-text.type1 {
    /*border: 1px solid;
    box-shadow: 0 2px 0 0 #f4f4f4 inset;
    box-sizing: border-box;
    */
    padding: 80px 0 40px;
    /*margin-top: 80px;*/
    text-align: center;
    /*border-color: #f2f1f2;*/
    /*border-radius: 5px;*/
}

.intro-text.type1 h4 {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 14px;
    position: relative;
    color: #FFF;
}

.intro-text.type1 h5 {
    margin-bottom: 30px;
    color: #FFF;
}

.dt-sc-button, .products .product-details a.button, .single_add_to_cart_button, .shipping-calculator-form .button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0 0;
    text-transform: uppercase;
}

.btn-home-slider {
    border-color: #fff !important;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin: 0 10px;
    width: 200px;
    position: relative;
}

.home-text {
    background: #fff none repeat scroll 0 0;
    min-height: 500px;
    padding: 10px 40px 40px;
    float: left;
    width: 100%;
}

.home-text > h3,
.box > h3 {
    color: #337ab7;
    font-size: 30px;
    font-family: 'Bubblegum Sans', cursive;
}

.box h2 {
    color: #337ab7;
    font-size: 24px;
    font-family: 'Bubblegum Sans', cursive;
}

.home-text > h3 span{
    color : #f8b54d;
}

.home-text > h3::after {
    background: #337ab7;
    content: "";
    display: block;
    height: 3px;
    margin: 10px 0;
    width: 100px;
}

.home-text .content-text {
    color: #666;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
}

.category-section {
    margin: 30px auto 0px;
}

.category-section .category-title {
    color: #355c7d;
    margin: 10px 0;
}

.category-section .subcategory-title {
    font-size: 14px;
    margin: 10px 20px;
}

.bedgeforyear {
    background: #a5122b;
    border-top: 4px solid #f7a300;
    border-bottom: 4px solid #f7a300;
    padding: 10px;
}

.bedgeforyear img {
    width: 120px;
}

.bedgetext {
    color: #FFF;
    font-size: 24px;
    line-height: 24px;
    padding-top: 35px;
    padding-left: 15px;
}

.bedgeforyear.loginbar .bedgetext{
    padding: 25px;
}

.bedgeforyear .btn-primary {
    font-size: 22px;
    line-height: 22px;
    padding: 15px 70px;
    float: right;
    margin-top: -15px;
    border: 1px solid;
}

.benefitsList{
    list-style: none;
}

.be-center{
    text-align: center;
}

.sub-title {
    color: #337ab7;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'Bubblegum Sans', cursive;
}

.sub-title::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 10px;
    /*background: url(../img/subtitle.png) center left no-repeat;*/
}

.box .sub-title {
    margin: 20px auto;
    width: 100%;
    float: left;
}

.section-feature{
    background: rgba(12,180,206,0.05) none repeat scroll 0 0;
    padding: 20px 0;
}

.feature-info h4{
    color:#f8b54d;
    font-family: 'Bubblegum Sans', cursive;
    font-size:24px;
    padding-left: 10px;
}

.section-description {
    float:left;
    color: #888888;
    font-size: 16px;
    font-style: oblique;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding:10px 15px;
    text-align: center;
    width: 100%;
}

.feature-box{
    margin-top: 20px;
    margin-bottom: 40px;
}

.feature-icon {
    float: left;
}

.feature-icon .highlight {
    color: #0cb4ce;
    font-size: 50px;
    margin-top:15px;
}

.back-icon {
    color: #f8f8f8;
    font-size: 134px;
    height: 134px;
    left: 0;
    line-height: 134px;
    padding-left: 40px;
    position: absolute;
    top: 0;
    width: 134px;
    z-index: -1;
}

.feature-info {
    padding-left: 50px;
}

.feature-info > p {
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
}

.exam_section, .footer-subscribe{
    padding: 40px 0;
    position: relative;
}

/* Blog Section */

.post-item {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-bottom: 20px;
    padding: 10px;
}

.post-item h1, .post-detail h1 {
    color: #337ab7;
    font-size: 22px;
    margin: 0 0 10px;
}

.post-info {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    float: left;
    margin: 20px 0 0;
    padding: 10px 0;
    width: 100%;
}

.post-content {
    float: left;
    font-size: 15px;
    line-height: 22px;
    padding: 30px 50px 10px;
}

.post-content h3 {
    color: #337ab7;
    font-family: "Bubblegum Sans";
}

.post-content a {
    font-weight: bold;
}

.post-content img {
    max-width: 100%;
}

.post-detail {
    float: left;
    background: #fff none repeat scroll 0 0;
    padding: 10px;
}

.post-detail .post-header{
    position: relative;
}

.post-detail .post-header > h1 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    height: 220px;
    line-height: 31px;
    margin: 0;
    padding: 125px 150px 10px 50px;
    position: absolute;
    width: 100%;
}

.post-detail .cover-image img {
    max-height: 420px;
    width: 100%;
}

.post-detail .social_sharing {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.social_sharing .sharing-block{
    display: inline-block;
    vertical-align: bottom;
}

.social_sharing .sharing-block div{
    display: block !important;
}

/* Author Section */

.author-box {
    background: #F9F9F9 none repeat scroll 0 0;
    border-top: 1px solid #dfdfdf;
    float: left;
    font-size: 15px;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
}

.author-box img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    float: left;
    height: 100px;
    margin: 0 20px 0 15px;
    padding: 15px;
    width: 100px;
}

.author-box h4 {
    margin-top: 0;
}

a.aboutauthor {
    color: #464646;
    font-family: "Proxima Nova","proxima-nova",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
}

.author-box-content {
    padding-right: 50px;
}

.recent-blogs{
    background: rgba(12, 180, 206, 0.05) none repeat scroll 0 0;
    padding: 20px 0;
}

.card{
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.09);
    margin: 20px;
    width: 250px;
}

.card > a {
    text-decoration: none;
}

.card img {
    height: 190px;
    width: 100%;
}

.cardcontainer {
    background: #fff none repeat scroll 0 0;
    color: #333;
    font-size: 14px;
    min-height: 75px;
    padding: 10px;
}

.cardcontainer > h3 {
    font-size: 16px;
    min-height: 50px;
}

.post-author {
    border-top: 1px solid #dfdfdf;
    color: #777777;
    padding: 4px 0;
    text-transform: capitalize;
}


/* MEDIA Section */
.form-inline input.form-control[type="file"] {
    background: #efefef none repeat scroll 0 0;
    border: 0 none;
    margin-left: 10px;
    padding: 0;
}

.form-inline .btn{
    float: none;
    margin: 0px;
}

.note_list .list-box{
    float: left;
    width: 100%;
    display: block;
    background: #FFF;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.note_list #pinBoot .list-box{
    position: absolute;
}

.list-box .user-info{
    float: left;
    width: 95px;
    padding: 5px
}

.note_list .user-info img {
    border-radius: 4px;
    width: 75px;
}

.list-box .note-short{
    float: left;
    width: 70%;
    padding-bottom: 5px;
}

.note_list .note-short h2 {
    margin: 4px 0px;
    line-height: 20px;
}

.cardbox .list-box:hover{
    border: 1px solid #337ab7;
    box-shadow: 1px 1px 1px 0px #337ab7;
    cursor: pointer;
}

.cardbox .list-box:hover .notes-title a{
    color: #337ab7;
}

.cardbox .notes-category a{
    color: #B8B8B8;
}

.cardbox .notes-title a {
    color: #505050;
    font-size: 16px;
}

.cardbox .list-box .note-short{
    width: 100%;
    padding: 15px;
    min-height: 150px;
}

.cardbox .notes-shortdesc {
    color: #777777;
    line-height: 18px;
    font-size: 14px;
    height: 60px;
    margin-top: 15px;
}



.note_list .list-box .meta-info {
    border-top: 1px solid #ddd;
    float: left;
    padding: 5px 0 5px 5px;
    width: 100%;
}
.note-footer {
    float: left;
    width: 100%;
    background: #F6F6F6;
    padding: 10px 8px;
    border-top: 1px solid #ddd;
}

.note-footer .notes-action {
    border-right: 2px solid #666666;
    color: #666666;
    padding: 0px 10px;
}

.note-footer .notes-action i {
    font-size: 18px;
    padding: 5px 0px;
    line-height: 18px;
}

.site-share-btn {
    color: #FFF;
    background: #DFDFDF;
    width: 25px;
    height: 25px;
    float: left;
    margin: 2px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
    border:1px solid transparent;
}

.site-share-btn:hover{
    border:1px solid #337ab7;
}

.box{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    float: left;
    width: 100%;
    min-height: 200px;
}

.box.no-height{
    min-height: auto;
}

.box.login-box {
    padding-top: 20px;
    min-height: 400px;
}

.box.thoughtofday {
    background: #fffddd;
    padding: 10px 0;
    font-size: 16px;
    font-style: italic;
    color: #337ab7;
}

.side-bar-section .box{
    margin-bottom: 20px;
    min-height: 100px;
}

.dataTables_wrapper.dt-bootstrap {
    margin-top: 10px;
}


.box-header {
    border-bottom: 1px solid #e5e5e5;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.box-header .title {
    font-size: 20px;
    float: left;
    margin-top: 15px;
    color: #398439;
}


.box-header .btn-primary {
    font-weight: 600;
    margin: 10px 15px 12px 0;
}


.box-title{
    color: #333;
    float: left;
    font-size: 18px;
    font-weight: 600;
    padding:15px 20px;
    margin: 0;
    width: 100%;
    position: relative;
}

.box-title h3{
    margin: 0;
    color: #337ab7;
    font-size: 24px;
}

.box-title h4{
    margin: 0;
    color: #888888;
    font-size: 16px;
}


.box-header.dark-blue{
    background: #337ab7;
}

.box-header.dark-blue .box-title h3{
    color: #FFF;
    font-size: 30px;
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 2px;
}



.box-header.dark-blue .box-title h3::after {
    background: #FFF;
    content: "";
    display: block;
    height: 3px;
    margin: 10px 0;
    width: 100px;
}

.toptext {
    color: #DEDEDE;
    font-size: 14px;
}

.cms-header-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 60px;
    color: #337ab7;
    opacity: 0.5;
}

.box-widget-title {
    background: #e5e5e5 none repeat scroll 0 0;
    float: left;
    padding: 10px 30px;
    width: 100%;
}

.box-widget-title > h4 {
    border-left: 3px solid #337ab7;
    margin: 0;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-top: 4px;
}

.box-infotext {
    color: #777;
    float: left;
    padding: 0 20px 15px;
    width: 100%;
}


.box-content{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
}

.box-bottom-butngroup{
    margin: 20px 0 40px;
}

.box-submitbtn,
input[type="submit"].box-submitbtn{
    background: #337ab7;
    margin-right: 5px;
    font-size: 18px;
    font-weight: normal;
}

.box-cancelbtn{
    background: #d9d9d9;
    color: #4c4c4c;
    font-size: 18px;
    font-weight: normal;
}

.site-from label {
    color: #333;
    font-size: 16px;
    padding-top: 10px;
}

.box-form label {
    float: left;
    color: #333;
    font-size: 16px;
    padding-top: 10px;
}

.box-form .box-form-action{
    margin:15px 0px;
    padding:20px 8px;
    background:#f7f7f7;
    font-size:16px;
    line-height:1.7;
}

.box-form .box-form-action a{
    margin: auto 10px;
    color: #777;
}

.box-form .box-form-action a:hover{
    text-decoration: none;
}

ul.side-links {
    font-size: 16px;
    line-height: 26px;
    list-style: outside none none;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

ul.side-links li a{
    color: #707070;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dotted #eeeeee;
    padding: 6px 0;
    width: 100%;
}
ul.side-links li a:hover{
    background-color: #f9f9f9;
}
label.error{
    color: #bf3a2b;
    font-size: 13px;
    padding-top: 0;
}

.option_wrap {
    float: left;
    padding: 5px 10px;
    width: 100%;
}

.option_wrap .iradio_flat-green {
    margin: 12px 0 12px 12px;
}

.level_wrap label {
    margin-left: 5px;
    margin-right: 25px;
}

.question_title{
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0;
    border-style: solid;
    box-shadow: none;
    padding: 20px 15px 15px;
    font-weight: 600;
    color: #355c7d;
}

.question_title span{
    color: #555;
    font-size: 14px !important;
    font-weight: normal;
}

.question_option{
    background: #f7f7f9;
    border-color: #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    padding: 9px 14px;
}

.correct_ans{
    color: #355c7d;
    font-weight: 600; 
}

.navbar-default .navbar-brand {
    padding: 0 15px;
    height: auto;
}

.gkbytes .topic-list{
    margin-top: 15px
}

.color-overlay {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.color-overlay-light {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.exam_section .site-info-top-box{
    color: #FFF;
    font-size: 16px;
}



.testlist-section{
    background-color: #e8e8e8;
    padding: 40px 0;
}

.exam_section .sub-title{
    color: #fff;
    margin-bottom: 20px;
}

.exam_section .exam-block{
    border: 1px solid #fff;
    padding: 20px 10px;
    margin: 15px 0;
    text-align: center;
    font-size: 24px;
    background: rgba(255,255,255,0.6);
    color: #fff;                   
    min-height: 150px;
}

.exam_section .exam-block:hover{
    background: rgba(255,255,255,1);
    color: #337ab7;
}

.exam-block .exam-img-wrap {
    min-height: 75px;
}

.exam_section a:hover{
    text-decoration: none;
}

.exam-logo {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 150px;
    padding: 4px;
    position: absolute;
    top: -75px;
    width: 150px;
}

.exam-title {
    font-size: 30px;
    padding-bottom: 5px;
    padding-left: 170px;
    padding-top: 20px;
}

.exams-view .breadcrumb-wrapper {
    height: 120px;
}

.exams-view .breadcrumb {
    margin-top: 50px;
}
.dropdown-menu {
    min-width: 180px;
}
.dropdown-menu > li > a{
    padding: 10px 20px;
    font-size: 16px; 
}
.dropdown-menu > li > a:hover{
    background: #337ab7;
    color: #FFF;
}

.top-buffer{
    margin-top: 20px;
}

.bottom-buffer{
    margin-bottom: 20px;
}

.follow_btn, .message_btn {
    text-decoration: none;
    background-color: #007FBE;
    margin-top: 70px;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border: 2px solid #007FBE;
    width: 100%;
}

.follow_btn:hover, .message_btn:hover {
    text-decoration: none;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.message_btn{
    margin-top: 10px;
}

.user-profile-box {
    position: relative;
    height: 250px;
}

.profile-data {
    position: absolute;
    height: 100px;
    background: #FFF;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.header{
    color : #808080;
}

.picture {
    height: 180px;
    width: 180px;
    position: absolute;
    top: -100px;
    left: 70px;
}

.profile-name {
    font-size: 24px;
}

.profile-occuption {
    font-size: 16px;
}

.picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;

}

.user-profile .nav {
    margin-left: 10px;
    margin-top: -61px;
}

.posts-view .breadcrumb-wrapper {
    min-height: 150px;
}


/*input[type="password"], input[type="text"], input[type="search"], input[type="url"], input[type="email"], input[type="number"], input[type="date"], select {
        border: 1px solid #ccc;
        font-size: 14px;
        height: 27px;
        line-height: 27px;
        max-width: 100%;
        padding: 3px 6px;
    }*/

.testinomail-head {
    padding-left: 30px;
    margin-bottom: 24px;
}

.testinomail-head strong {
    color: #1c1c1c;
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.testimonial-info i.fa-quote-left, .testimonial-info i.fa-quote-right {
    color: #1c1c1c;
    font-size: 18px;
    left: 0;
    position: absolute;
    top: -8px;
}

.testimonial-info i.fa-quote-right {
    bottom: -8px;
    left: auto;
    right: 20px;
    top: auto;
    transform: rotateX(-165deg);
}

.testimonial-comment, .testimonial_wrapper{
    padding: 40px 0 0;
}

.testimonial-comment .heading-wrap {
    margin-bottom: 40px;
}

.heading-wrap h2 {
    font-weight: 900;
    margin-bottom: 0;
    color: #1c1c1c;
    text-transform: uppercase;
}

.heading-wrap span {
    color: #1c1c1c;
    display: block;
    font-size: 16px;
    font-style: italic;
    padding-top: 10px;
}

.testimonial-comment .form-control {
    border-radius: 0;
    box-shadow: none;
    font-size: 13px;
    height: 44px;
    margin-bottom: 20px;
    padding-left: 27px;
}

.testimonial-comment textarea.form-control {
    height: 172px;
    padding-top: 12px;
}

.testimonial-comment input[type="submit"] {
    background-color: transparent;
    border: 2px solid #ffaf36;
    color: #ffaf36;
    border-radius: 0;
}

.triangle-img svg {
    bottom: 0;
    height: 80px;
    right: 80px;
    position: absolute;
}

.triangle-img {
    margin-bottom: -30px;
}

.testimonials {
    /*        float: left;
            margin: 5px 25px 40px;
            padding: 0 0 3px;
            width:100%;*/
}

.testim {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    border-top: 1px solid #eaeaea;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-bottom: 35px;
    padding: 16px;
}

.testim p {
    min-height: 70px;
    color: #575757;
    font-family: "Droid Serif";
    font-size: 16px;
    line-height: 22px;
}

.arrow_box {
    background: rgba(0, 0, 0, 0) url("<?php echo $this->webroot; ?>img/testimonial-down-arrow.gif") no-repeat scroll 0 0;
    bottom: -48px;
    height: 32px;
    left: 30px;
    margin-top: -32px;
    position: relative;
    width: 50px;
}

.client {
    float: left;
}   

.client img {
    border: 1px solid #eaeaea;
    border-radius: 50%;
    float: left;
    max-width: 80px;
    width: 82px;
    height: 82px;
}

.client p {
    color: #666;
    float: left;
    line-height: 1em;
    padding-left: 10px;
    width: 250px;
}   

.client .name {
    display: block;
    font-size: 15px;
    padding: 10px 0 4px;
}

.client .inst {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    color: #e84c3d;
}


.testinomail-icon{
    color: #f5f7fa;
    float: left;
    font-size: 80px;
    margin-right: 15px;    
}


/*
.footer-subscribe > div{
    margin: 30px auto;
}*/
.footer-subscribe h2{
    margin-top: 0px;
    color: #f8b54d;
    font-size: 40px;
    font-family: 'Bubblegum Sans', cursive;
}

.footer-subscribe h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.btn-secondary, .footer-subscribe .form-control{
    border-bottom: 3px solid #ccc;
}

.question_index {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid #999;
    color: #999;
    line-height: 25px;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
}


.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
    border-radius: 5px;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

#new-notification-container {
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 10000;
}

#new-notification-placeholder {
    background-color: #f7a300;
    border-radius: 5px 0 0 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 50px;
    opacity: 0.9;
    padding: 14px;
    position: relative;
    right: 0;
    top: 70px;
}

.ask_question_form .ask_question_img{
    float: left;
    padding: 5px;
    width: 90px;
}

.ask_question_form .box-title{
    float: none;
    padding: 15px 20px 0;
}

.ask_question_form .box-infotext{
    float:none;
    font-size: 12px;
    padding:0 0 15px;
}

.ask_question_form .box-infotext > div {
    color: #bbb;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}
.site-info-top-box{
    margin-top: 20px;
    margin-bottom: 30px;
}
.exam_section .site-info-top-box {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
}

.site-info-top-box h1 {
    border-bottom: 2px dotted;
    color: red;
    font-family: "Bubblegum Sans",cursive;
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.site-info-top-box > p {
    color: #fdaf42;
    font-size: 14px;
    line-height: 21px;
}

.site-info-top-box strong {
    color: #337ab7;
}

.new-notification-home-box {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    color: #fdaf42;
    font-size: 20px;
    font-weight: 600;
    margin: 4px 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.alert-info.welcome-msg{
    margin-top: 10px;
}

.alert-success.site-top{
    border-radius: 0;
    margin-bottom: 0;
}

.headerlgin-prflmenuimg {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin-right: 2px;
}

.dropdown-toggle.profile-mnu-wrapper {
    padding: 10px;
}

.gkbytes .question_wrap {
    float: left;
    width: 100%;
}

.m-bottom5{
    margin-bottom: 5px;  
}

.m-bottom15{
    margin-bottom: 15px;  
}

.m-top15{
    margin-top: 15px;  
}


.menu-ipad{
    display: none;
}
.mainmenuulli {
    float: right;
    margin-bottom: 0;
    padding-left: 0;
}

.mainmenuulli li {
    float: left;
    height: 44px;
    list-style: outside none none;
    margin-right: 20px;
}

.mainmenuulli li {
    border-bottom: 0 solid #fff;
    border-left: 4px solid #fff;
    height: auto;
    padding-left: 10px;
}

.mainmenuulli li:hover, .mainmenuulli li.active {
    border-bottom: 0 solid #1caad9;
    border-left: 4px solid #1caad9;
}

.mainmenuulli li a {
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    text-decoration: none;
    width: 100%;
}

.mainmenuulli li a:hover {
    color: #1caad9;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.shortcut-menu{
    display: none;
}

.dashboard-box {
    border: 2px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.176);
    color: #444444;
    background: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 40px 15px;
    text-align: center;
}

a.nodecor{
    text-decoration: none;
}

.nav-tabs.register {
    margin-bottom: 10px;
}


.nav-tabs.register li {
    text-align: center;
    width: 50%;
    font-size: 18px;
    background: #F3F6F9;
}

.nav-tabs.register li a:hover{
    background: #F3F6F9;
}

.nav-tabs.register li div{
    line-height:  55px;
}

.nav-tabs.register li img{
    width: 45px;
    float: left;
}


.nav-tabs.register li.active a {
    background: #355c7d none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
}

.callToAction {
    text-align: center;
}

.callToAction a .btn {
    font-size: 16px;
    margin: 10px;
    padding: 10px 75px;
}

.category-section .callToAction {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px 0;
}

.site-pagination {
    display: inline-block;
    width: 100%;
}

.box.user-info {
    min-height: auto;
    padding-bottom: 10px;
}

.box.user-info .profile {
    height: 60px;
    margin-top: 10px;
    float: left;
}

.user-info .box-content {
    padding: 0 10px;
}

.user-info .profile-name {
    color: #666;
    float: left;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 15px;
    text-transform: capitalize;
}

.user-info .profile-role{
    float: left;
    margin-left: 5px;
    color: #666;
}

.pagination li a {
    border-radius: 3px;
    margin: 3px;
    padding: 10px 15px;
}

.subcategory-title.letest_note {
    font-weight: 600;
}

form#SearchFormIndexForm{
    padding: 60px 0;
}

form#SearchFormHomeForm{
    padding: 30px 0 150px;
}

.notes-search{
    float: left;
    width: 100%;
    background-color: #0d568a;
    background-image: radial-gradient(circle farthest-side at center top,#3ba5e2 0,#0d568a 100%);

    o-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.5),inset 0 -5px 5px -5px rgba(0,0,0,.5);
    -ms-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.5),inset 0 -5px 5px -5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.5),inset 0 -5px 5px -5px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.5), inset 0 -5px 5px -5px rgba(0,0,0,.5);
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.5), inset 0 -5px 5px -5px rgba(0,0,0,.5);
}


.bg-stripe-overlay{
    background: url("../img/bg-jumbotron.png") repeat;
}


.sidebar {
    margin-bottom: 30px;
    position: relative;
}

.sidebar::before {
    background: #eee none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.sidebar::after {
    background: #ffb606 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.sidebar h2 {
    background: #fff none repeat scroll 0 0;
    color: #333;
    font-family: "Roboto Slab",serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px;
    padding: 14px 15px;
    text-transform: uppercase;
}

.sidebar ul {
    list-style: outside none none;
    padding-left: 0;
}
.sidebar ul li {
    list-style: outside none none;
    border-bottom: 1px solid #eee;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 15px;
}

.sidebar ul li a{
    color: #333;
}

.box.sidebar {
    float: none;
    position: relative;
}



*::before, *::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


.header-topbar {
    border-bottom: 1px solid #f2f2f2;
}

.header-topbar .nav.navbar-nav {
    margin: 0;
    padding: 0;
}

.header-topbar .nav.navbar-nav > li{
    border-right: 1px solid #f2f2f2;
    color: #888888;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
}

.header-topbar .social-icon-list .nav.navbar-nav > li{
    padding: 0px;
}

.header-topbar .social-icon-list .nav.navbar-nav > li a{
    color: #888888;
    padding: 10px 20px;
}

.header-topbar .nav.navbar-nav > li:first-child{
    border-left: 1px solid #f2f2f2;
}

element {

}
.page-control .page-info a {

    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #A5A5A5;
    line-height: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

}



.faqouter-leftpannal {
    float: left;
    width: 100%;
}
.faq-mainpannal-outer {
    background: #f2f2f2 none repeat scroll 0 0;
    float: left;
    width: 100%;
}
.faq-headpannal {
    float: left;
    width: 100%;
}
.faqbuttom.faq-headpannal-contantpannal {
    float: left;
    margin-bottom: 48px;
    width: 100%;
}
.faq-leftpannalouter {
    float: left;
    width: 70%;
}
.faq-leftpannalouter .smk_accordion .accordion_in {
    border: medium none;
    border-radius: 5px !important;
    margin: 0 0 12px;
}
.faq-rightpannalouter {
    float: right;
    width: 27%;
}
.faq-leftpannalouter .smk_accordion.acc_with_icon .accordion_in .acc_head, .faq-leftpannalouter .smk_accordion.acc_with_icon .accordion_in .acc_content {
    color: #4c4c4c;
    font-size: 14px;
    line-height: 26px;
    padding: 14px 20px;
    background: #ffffff;
}
.faq-leftpannalouter .smk_accordion.acc_with_icon .accordion_in .acc_content {
    color: #333333;
}
.faq-leftpannalouter .smk_accordion.acc_with_icon .accordion_in.acc_active .acc_head {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
}
.faq-rightpannalouter .faqbuttom_righttitle {
    color: #262626;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
    vertical-align: top;
    width: 100%;
}
.faq-rightpannalouter .faqbuttom_rightmenu {
    float: left;
    width: 100%;
}
.faq-rightpannalouter .faqbuttom_rightmenu ul {
    list-style: outside none none;
    padding: 0;
}
.faq-rightpannalouter .faqbuttom_rightmenu ul li {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    color: #4c4c4c;
    font-size: 14px;
    height: 45px;
    margin-top: 10px;
    padding: 12px;
}
.faqbuttom_rightfirst_nu.faqright-curcle {
    background: #1caad9 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    float: right;
    font-size: 13px;
    height: 20px;
    text-align: center;
    width: 20px;
}
.faq-rightpannalouter .faqbuttom_rightmenu ul li:hover, .faq-rightpannalouter .faqbuttom_rightmenu ul li.active {
    background: #1caad9;
    color: #fff;
}
.faq-rightpannalouter .faqbuttom_rightmenu ul li:hover .faqbuttom_rightfirst_nu.faqright-curcle, .faq-rightpannalouter .faqbuttom_rightmenu ul li.active .faqbuttom_rightfirst_nu.faqright-curcle {
    background: #fff none repeat scroll 0 0;
    color: #1caad9;
}
.faq-leftpannalouter .smk_accordion .accordion_in.acc_active > .acc_head {
    background: #ffffff none repeat scroll 0 0;
}
.faq-leftpannalouter .faqtabtextdiv p {
    margin: 0 0 20px;
}

.site-squre-modal{
    position: absolute;
    border-radius: 0;
}

.site-squre-modal-content{
    margin: 0;
    padding: 0;
}

.site-squre-modal-content .close{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 40px;
}

.note-short img {
    width: 100% !important;
}

.box-content.feed-form {
    padding: 0;
}

.feed-form .nav-pills{
    background: #eaedf1;
}

.feed-form .nav-pills > li > a {
    color: #707070;
    border-radius: 0;
    font-size: 16px;
}

.feed-form .nav-pills > li.active > a{
    color: #FFF;
    background: #707070;
}

.feed-form .nav-pills > li > a i{
    padding: 0 5px;
}

.logo-wrapper {
    width: 100%;
    text-align: center;
    padding: 30px;
}


@-webkit-keyframes glowing {
    0% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
    50% { background-color: #a5122b; -webkit-box-shadow: 0 0 5px #a5122b; }
    100% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
}

@-moz-keyframes glowing {
    0% { background-color: #337ab7; -moz-box-shadow: 0 0 3px #337ab7; }
    50% { background-color: #a5122b; -moz-box-shadow: 0 0 5px #a5122b; }
    100% { background-color: #337ab7; -moz-box-shadow: 0 0 3px #337ab7; }
}

@-o-keyframes glowing {
    0% { background-color: #337ab7; box-shadow: 0 0 3px #337ab7; }
    50% { background-color: #a5122b; box-shadow: 0 0 5px #a5122b; }
    100% { background-color: #337ab7; box-shadow: 0 0 3px #337ab7; }
}

@keyframes glowing {
    0% { background-color: #337ab7; box-shadow: 0 0 3px #337ab7; }
    50% { background-color: #a5122b; box-shadow: 0 0 5px #a5122b; }
    100% { background-color: #337ab7; box-shadow: 0 0 3px #337ab7; }
}

.glowbtn {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    color: #FFF !important;
}

.noline{
    text-decoration: none !important;    
}

/* Option color when play */
.a_option{
    display: inline-block;
    padding-left: 10px;
}

.n_option{
    color: red;
}

.y_option{
    color: green;
}

.practice-category {
    text-align: center;
    background: #FAFAFA;
    padding: 10px;
    margin: 10px auto;
    min-height: 100px;
    color: #707070;
    border: 1px solid #EEE;
    font-size: 16px;
}

.practice-category:hover{
    background: #EFEFEF;
}

.btn.info-box {
    padding: 0;
    font-size: 24px;
    line-height: 80px;
    margin: 15px 0;
    background: #FFF;
    color: #333;
    border: 1px solid #333;
}

.btn .info-box-icon {
    height: 80px;
    width: 80px;
    float: left;
    font-size: 40px;
    line-height: 50px;
    padding: 15px;
    background: #dd4b39;
    color: #FFF;
}

.en-post-detail {
    float: left;
    padding-left: 10px;
    width: 85%;
}

.btn-googleHome {
    width: 250px !important;
    margin-top: -18px;
    cursor: pointer;
}

.home-exam-list {
    background: #fafafa;
    padding: 30px;
}

.home-exam-list h2{
    margin-bottom: 40px;
    margin-top: 40px;
    float: left;
    width: 100%;
}

.home-search-select {

    width: 150px !important;
    font-size: 16px;
    padding: 18px;
    height: 60px;
    border: 0px;
    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

}

.home-search-text{
    padding: 18px !important;;
    height: 60px !important;
}

select.home-search-select::-ms-expand {
    display: none;
}

.home-search-button {
    border: 0px;
    background: #02b3e4;
    color: #fff;
    height: 60px !important;
    width: 60px;
}

.slider-feature ul {
    margin: 40px 0 0 0;
    padding: 0;
}

.slider-feature ul li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    margin-right: 30px;
}

.slider-feature ul li img {
    height: auto;
    width: 30px;
    object-fit: cover;
    margin-right: 5px;
}

.slider-feature ul li:nth-child(1) {
    color: #02b3e4;
}

.slider-feature ul li:nth-child(2) {
    color: #fb928b;
}

.notes-search.home p {
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
}

.notes-search.home h3 {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
}

.home-exam-list .list-group{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.home-exam-list .list-group-item{
    padding: 20px;
}

.list-group-item:first-child, .list-group-item:last-child{
    border-radius: 0;
}

.backgroundSrudent {
    background:url('../img/student-849822_640.jpg');
    position: relative;
}

.layer {
    background-color: rgba(51,122,183, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.exam-callaction {

    float: left;
    height: 305px;
    width: 100%;
    border: 1px solid #EFEFEF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

}

.exam-callaction h3 {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #FFF;
}

.exam-callaction .btn.btn-primary {
    width: 80%;
    margin: 10%;
    font-size: 2em;
}

.practice-set-index .list-group{
    margin-top: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.practice-set-index .list-group-item{
    padding: 20px;
}

/** ===================== Custom UI Radio ====================== **/
/* The container */
.practice-question .container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.practice-question .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.practice-question .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.practice-question .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.practice-question .container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

.practice-question .container-radio.correct input:checked ~ .checkmark {
    background-color: green;
}

.practice-question .container-radio.incorrect input:checked ~ .checkmark {
    background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.practice-question .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.practice-question .container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.practice-question .container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/** ===================== Custom UI Radio ====================== **/


.practice-set-view h1 {

    font-size: 16px;
    color: #888;

}

.practice-set-view h2 {

    font-size: 20px;
    font-family: unset;

}


.site-content table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.site-content table td, .site-content table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.site-content table tr:nth-child(even){background-color: #f2f2f2;}

.site-content table tr:hover {background-color: #ddd;}

.site-content table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50 !important;
    color: white;
}

.notes-view .box-header {
    padding: 0;
}

.notes-view .box-header .title {
    font-size: 26px;
    text-align: left;
    width: 100%;
    margin: 35px 0px 20px;
    padding: 0 50px;
    line-height: 30px;
    color: #666666;
}

.notes-view .meta-info {
    font-size: 16px;
    padding: 5px 50px;
    border-top: 1px solid #EFEFEF;
    float: left;
    width: 100%;
    color: #888888;
}

.notes-view a {
    color: #565656;
}

.notes-view a:hover {
    color: #337ab7;
    font-weight: 600;
}

.notes-view .box-content {
    padding: 30px 50px;
}

@media (min-width : 1024px) and (max-width : 1199px) {


    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 20px 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .menu-desktopmobile{
        display: none;   
    }

    .menu-ipad{
        display: block;
    }

    .menu-desktopmobile{
        display: none;
    }
    .menu-ipad{
        display: block;

        border-bottom: 1px solid #DEDEDE;
    }
    .mainmenucover .navbar-header{
        width: 100% !important;
    }
    .navbar-toggle{
        display: block;
        margin: 0;
    }
    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888;
    }
    .ipad-responsive-menu{
        background: #ffffff none repeat scroll 0 0;
        float: right;
        padding: 15px 0;
        position: fixed;
        right: -300px;
        top: 58px;
        transition: all 0.5s ease-in-out 0s;
        width: 300px;
        z-index: 98;
        height: 100%;
        overflow:auto;
        /*border-top:1px solid #333;*/
    }
    .no-scroll{
        overflow:hidden;
    }
    .ipad-responsive-menu-show{
        height: 100%;
        position: fixed;
        right: 0;
        top: 58px;
        padding: 0;
        box-shadow: -5px 0 5px -5px #333;
        transition: all 0.5s ease-in-out 0s;
    }
    .ipad-responsive-menu-outer{
        position:absolute;
        right:20px;
        top:12px;
    }
    .ipad-responsive-menu .mainmenuulli li{
        width:100%;
    }
    .mainmenuulli li:nth-child(8){
        margin:0px !important;
    }
    .mainmenuulli li a, .mainmenuulli li a:hover{
        font-size:14px !important;
    }
    .mainmenuulli li span{
        display:none !important;
    }
    .mainmenuulli li:last-child a, .mainmenuulli li:last-child a:hover{
        font-size:14px !important;
        height:32px;
        width:100% !important;
    }
    .practice-lastsection .two .innertwo{
        margin-top: 20px;
    }

    .side-mobilemenuuser{
        padding: 0 !important;
        border-left: 0 !important;

    }

    .side-mobilemenuuser .box{
        border: 0;
        background: #EEE;

    }
    /*HEADER*/
    .mainmenucover .navbar-header{
        width: 130px;
    }
    .mainmenucover .navbar-brand img{
        width: 100%
    }
    .mainmenuulli li a, .mainmenuulli li a:hover{
        font-size: 12px;
    }
    .mainmenuulli li span{
        margin-right: 3px;
        margin-left: 3px;
        font-size: 12px;
    }
    .mainmenuulli li:nth-child(8){
        margin-right: 5px;
        margin-left: 10px;
    }
    .mainmenuulli li:last-child a, .mainmenuulli li:last-child a:hover{
        height: 28px;
        width: 52px;

        font-size: 10px;
    }

    .navbar-default .navbar-brand{
        width: 250px;
    }

    .navbar-default .navbar-brand img{
        width: 100%;
    }

    .breadcrumb-wrapper{
        float: left;
        width: 100%;
    }

    #new-notification-container {
        display: none;
    }

    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}


@media only screen and (max-width: 768px) {
    body{
        margin-top: 0;
    }

    .cd-top {
        right: 20px;
        bottom: 40px;
        z-index: 98;
    }


    .faq-leftpannalouter {
        width: 100%;
    }

    .faq-rightpannalouter {
        float: left;
        margin: 15px 0 0;
        width: 100%;
    }

    .smk_accordion .accordion_in .acc_head .acc_icon_expand {
        right: 10px !important;
    }

    .cardcontainer > h3 {
        font-size: 14px;
        min-height: 60px;
        margin-top: 0px;
        margin-bottom: 0;
    }

    .cardcontainer .post-author{
        font-size: 12px;
    }

}

@media only screen and (max-width: 360px) {
    .nomobile{
        display: none;
    }

    .site-content{
        margin-bottom: 80px;
    }

    .container, .row {
        padding: 0px;
        margin: 0;
    }

    .mobNoMargin{
        padding: 0px;
        margin: 0;
    }

    .box-content{
        padding: 10px;
    }

    .practice-set-view h2{
        font-size: 16px;
    }

    .row.cardbox > div {
        float: left;
        margin: 0;
        padding: 5px;   
    }

    .btn.info-box{
        font-size: 18px;
    }

    .site-content, #footer, .exam_section, .recent-blogs, .footer-subscribe, .category-section {
        float: left;
        display: inline-block;
        width: 100%;
    }

    .sidebar {
        float: left;
    }

    .post-detail .post-header > h1{
        padding: 125px 20px 10px 20px;
    }
    .site-content, .posts-view .col-lg-8{
        margin: 0;
        padding: 0;
        margin-bottom: 80px;
    }

    .post-detail{
        margin-top: 0;
    }

    .sidebar h2{
        float: left;
        width: 100%;
    }

    #footer{
        margin-bottom: 35px;
        text-align: center;
    }

    .navbar-toggle#fotterMnu{
        margin: 0;
        padding:  0;
    }
    form#SearchFormIndexForm {
        padding: 15px 0;
    }

    .home-text {
        padding: 0;
    }

    .exam_section{
        float: left;
        padding: 0;
    }

    .shortcut-menu {
        background: #337ab7 none repeat scroll 0 0;
        border-top: 2px solid #fff;
        display: block;
        float: left;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;


        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    }
    .shortcut-menu a {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
    }

    .shortcut-nav {
        float: left;
        list-style: outside none none;
        margin-bottom: 0;
        padding: 0px;
        width: 100%;
    }

    .shortcut-nav > li {
        border-right: 1px solid #fff;
        float: left;
        font-size: 13px;
        text-align: center;
        width: 20%;
    }

    .shortcut-nav.loggedin > li {
        width: 25%;
    }

    .shortcut-nav > li.active{
        background: #a5122b;
    }

    .shortcut-nav > li:last-child {
        border-right: medium none;
        /*width: 28%;*/
    }

    .shortcut-nav > li .fa {
        font-size: 20px;
        line-height: 35px;
        width: 100%;
    }

    .breadcrumb-wrapper{
        display: none;

    }

    .fb_login{
        margin-bottom: 15px;
    }
    .card{
        width: 100%;
        margin: 0;
    }

    .gkbytes .topic-list {
        display: none;
    }

    .gkbytes .no-hight.title {
        margin-bottom: 15px;
    }

    .list-box .user-info{
        display: none;
    }
    .list-box .note-short{
        width: 100%;
    }
    .note_list .list-box .meta-info{
        padding: 0;
    }

    .exam-logo{
        top: 0;
    }

    .recent-blogs .section-description {
        display: none;
    }

    .share-page.share-buttons .network .counter{
        display: none !important;
    }

    .share-page.share-buttons .network {
        height: 40px !important;
        margin: 15px 10px !important;
        width: 40px !important;
        padding-left: 12px !important;
    }

    .sharertitle.sharecount {
        margin-right: 5px;
        padding-right: 5px;
    }

    .nav-tabs.register li.active a{
        text-align: center;
    }

    .nav-tabs.register li img {
        float: none;
        display: inline-block;
        min-height: 55px;
    }

    .nav-tabs.register li div {
        line-height: 25px;
        font-size: 14px;
        padding-top: 4px;
    }

    .bedgeforyear {
        display: inline-block;
        padding: 0;
        text-align: center;
    }

    .bedgeforyear img {
        display: inline-block;
        float: none !important;
        padding: 10px;
    }

    .bedgetext {
        font-size: 18px;
        padding-top: 5px;
        padding-left: 0;
    }

    .bedgeforyear .btn-primary {
        padding: 14px;
        margin: 15px 0;
        width: 100%;
    }

    .note_list .col-lg-9 {
        padding: 0;
    }

    .note_list .list-box{
        width: 100% !important;
    }

    .list-box .note-short{
        padding: 5px;
    }

    .note_list .col-lg-8 {
        padding: 0;
    }

    fieldset{
        min-width: calc;
    }

    .feed-form .nav-pills > li > a span{
        display: none;
    }

    .feed-form .nav-pills > li.active > a span{
        display: block;
        float: right;
    }

    .user-info .profile-name{
        margin-top: 5px;;
    }

    .user-info .profile-role{
        line-height: 15px;
    }

    .card img{
        height: 100px;
    }

    .cardcontainer > h3 {
        font-size: 14px;
        min-height: 60px;
        margin-top: 0px;
        margin-bottom: 0;
    }

    .cardcontainer .post-author{
        font-size: 12px;
    }

    .footer-subscribe h5 {
        color: #FFF;
        font-size: 18px;
        padding: 0px 10px;
        margin-top: 0;
    }
    
    .home-exam-list{
        padding: 0;
    }
    
    .exam-callaction{
        display: none;
    }

}

@media only screen and (max-width: 320px) {






}
.center-heading{
    width: 100%;
    float: left;
    text-align: center;

    margin-bottom: 12px;
}
.site-hr-top {
}

.site-hr-top::before {
    content: "";
    width: 125px;
    height: 2px;
    background-color: #777;
    top: 50%;
    position: absolute;
    left: 30px;

    margin-top: -1px;
}

.site-hr-top::after {
    content: "";
    width: 125px;
    height: 2px;
    background-color: #777;
    top: 50%;
    position: absolute;
    right: 30px;
    margin-top: -1px;
}

.site-hr-top .fa-child {
    font-size: 24px;
}

#TablePracticePracticeTableForm label {
    text-align: center;
    float: left;
    width: 100%;
    font-size: 40px;
    padding: 20px;
}